body{
	 font-family: "nexa-light", sans-serif;
	 font-size:1.2em;
	 color:#444;
}
/* Links */
a,
a:focus,
a:hover {
  color: #444;
}
nav, h1, h2, h3, h4, h5{
	text-transform: uppercase;
}
.navbar-brand,h1, h2, h3, h4, h5{
	 font-family: "nexa-bold", sans-serif;
}
@font-face {
    font-family: 'nexa-bold';
    src: url('/assets/fonts/nexa-bold-webfont.eot');
    src: url('/assets/fonts/nexa-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/nexa-bold-webfont.woff') format('woff'),
         url('/assets/fonts/nexa-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/nexa-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nexa-light';
    src: url('/assets/fonts/nexa-light-webfont.eot');
    src: url('/assets/fonts/nexa-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/nexa-light-webfont.woff') format('woff'),
         url('/assets/fonts/nexa-light-webfont.ttf') format('truetype'),
         url('/assets/fonts/nexa-light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.modal-dialog {
      max-width: 960px;
      margin: 30px auto;
  }